{% extends 'base.html' %}

{% block content %}
  
    <h1>Who WE are?</h1>
    <p class="lead">

        We are a non-profit organization dedicated to We are a non-profit organization dedicated to helping underprivileged individuals. Our goal is to Our goal at Dream Alive Center Foundation is to empower underprivileged individuals by providing them with access to education, healthcare, and essential resources that can help them achieve their full potential , and to make a positive impact in the world through our programs, services, and partnerships.
        
        Our organization was founded in 2023 by a group of passionate individuals . 
        
        At Dream Alive Center Foundation, we believe that everyone has the potential to make a difference, and that by working together, we can create positive change in our communities and beyond. At Dream Alive Center Foundation, we are committed to creating a more just and equitable world by promoting equity and social justice, we strive to uphold these values in everything we do.
        
        Whether you're a donor, volunteer, partner, or simply someone who shares our passion to make a positive impact in the world, we invite you to get involved and help us make a difference. Thank you for visiting our website, and for your support in our journey towards a better world.
         </p>
    
  
{% endblock %}
