

      {% extends 'base.html' %}

      {% block content %}
        
          <h1>Donate to a GOOD CAUSE</h1>
          <p class="lead">Thank you for considering a donation to a good cause!Your contribution can make a real difference in the lives of those in need. Your support is greatly appreciated and will help us make a meaningful impact in the lives of those we serve.

            As a registered non-profit organization, we are pleased to inform you that your donation is eligible for tax deduction under section 80G of the Income Tax Act. If you require an 80G certificate for your donation, please let us know and we will be happy to provide you with one.
            
            Once again, thank you for your support and for helping us make a difference in the world.</p>
            <h6>As a registered non-profit organization, we are pleased to inform you that your donation is eligible for tax deduction under section 80G of the Income Tax Act. If you require an 80G certificate for your donation, please let us know and we will be happy to provide you with one.</h6>
          <a href="{% url 'donategate' %}" class="btn-get-started d-none d-md-block">DONATE NOW</a>
        </div>  
        
      {% endblock %}
      