{% extends 'base.html' %}

{% block content %}
  
    <h1>Welcome to Dream Alive Centre Foundation!</h1>
    <p class="lead">

        We are a non-profit organization dedicated to helping underprivileged individuals. Our goal is to make a positive impact in the world .
        
        Through the generosity of our donors and volunteers, we are able to help those in need. We believe that everyone can make a difference, and we invite you to join us in our efforts to create a better world.
        
        Whether you're interested in supporting our cause through a donation, volunteering your time, or simply learning more about what we do, we encourage you to explore our website and discover the many ways you can get involved.
        
        Thank you for visiting Dream Alive Center Foundation and for your support in helping us make a difference in the world.
    </p>    
  
{% endblock %}
